# Ignore common binary and compiled artifacts
*.exe
*.dll
*.so
*.dylib
*.bin
*.obj
*.o
*.a
*.lib
*.class
*.jar
*.war
*.zip
*.tar
*.gz
*.7z
*.rar
*.iso
*.img
*.msi
*.pdb
*.pyc
*.pyo
*.whl
*.db
*.sqlite
*.sqlite3
